@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnivHome</title>
    <link href="~/Content/themes/base/minified/bootstrap.css" rel="stylesheet" />
    
    <script src="~/Scripts/bootstrap.js"></script>
</head>


<body>
    <nav class="navbar navbar-inverse  ">

        <div class="navbar-header navbar-left ">
            <a class="navbar-brand ">University Panel</a>
        </div>

        <div>
            <ul class="nav  navbar-nav navbar-left">

                <li><a href="/Univ/UnivHome">Home</a></li>
                <li><a href="/Univ/Update/@ViewBag.Id">Edit</a></li>
                <li><a href="/Univ/Inbox">Inbox</a></li>
                <li><a href="/Univ/Applicants">Applicants</a></li>

            </ul>
        </div>
        <div class="navbar-form navbar-right">
            <a class="navbar-brand " href="/Univ/Logout">Log Out</a>
        </div>

    </nav>




    <h2><span>New Messages</span></h2>

    <div class="module-table-body">

        <table id="myTable" class="tablesorter" border="1">
            <thead>
                <tr>
                    <th style="width:10%">Name</th>
                    <th style="width:15%">Message</th>
                    <th style="width:20%">Reply</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {

                    <tr>
                        
                        <td> @s.Sender </td>
                        <td>@s.Message</td>
                        <td>
                            <form action="/Univ/Reply">
                               <input type="text" name="reply" placeholder="Reply here..."/>
                                <input type="submit" value="Reply" class="btn btn-success" />
                            </form>
                        </td>


                    </tr>
                }

            </tbody>
        </table><br /><br />
        <form action="/Univ/OldMessages">
            <input type="submit" value="CLick here for Older Messages" class="btn btn-success" />
        </form>
     
    

    </div> <!-- End .module-table-body -->

</body>

</html>

